<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--    <link rel="icon" href="<%= BASE_URL %>favicon.ico">-->
    <title>Light Blue Vue.js Dashboard - Vue.js Admin Template</title>
    <meta name="description" content="Vue.js Admin Dashboard Template built with vue-router, vuex and bootstrap 4">
    <meta name="keywords" content="vue admin, vue admin template, vue dashboard, vue.js admin dashboard, vue template, vue.js theme">
    <meta name="author" content="Flatlogic LLC">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-36759672-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-36759672-9');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vue-cli doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
