<template>
  <div class="row progress-stats">
    <div class="col-6">
      <h6 class="name">{{ title }}</h6>
    </div>
    <div class="text-right">
        <span class="status rounded rounded-lg bg-widget">
          <span v-if="isNaN(value) || value[0]==='+'">
            {{ value }}
          </span>
          <span v-else>
            <AnimatedNumber :value="value" v-bind="animateNumberOptions"></AnimatedNumber></span>
          </span>
    </div>
  </div>
</template>

<script>

import AnimatedNumber from "animated-number-vue";

export default {
  name: 'RowProgress',
  components: {AnimatedNumber},
  props: {
    title: String,
    value: String,
  },
  data() {
    return {
      animateNumberOptions: {
        duration: 2000,
        easing: 'easeInQuad',
        formatValue(value) {
          let number = value.toFixed(0);
          let numberAsArrayWithSapces = [];
          while (number >= 1) {
            numberAsArrayWithSapces.unshift(number % 1000);
            number = (number / 1000).toFixed();
          }
          return numberAsArrayWithSapces.join(' ');
        }
      }
    }
  }
};
</script>

<style src="./Visits.scss" lang="scss"/>
