<template>
  <div class="visits-page">

    <h1 class="page-title">
      Traveler &nbsp;
      <small>
        <small> challenge &nbsp;</small>
      </small>
    </h1>
    <b-row>
      <b-col lg="5">
        <img src="https://media.giphy.com/media/3o6ZtelrVAOD5EcmCQ/giphy.gif" alt="..." :width="width"/>
        <br>
        <br>
      </b-col>
      <b-col lg="6" ref="countryContent" >
        <div v-if="country" >
          <p>
          <H2>{{ country }}</H2>
          <div v-if="countryContent">
            <div v-for="(item, key, index) in countryContent" :key="index">
              <RowProgress :title="key" :value="item"/>
            </div>
            <br>
          </div>
          <div v-else>
            Sorry, no data available for this country
            <div/>
          </div>
        </div>
        <div v-else>
          <br>
          <h3 class="float-center">
            Welcome,
            <h4>Please click on the map to select a Country
              <span class="circle bg-primary text-white"><i class="la la-map-marker"/></span>
            </h4>
          </h3>
          <br>
        </div>
      </b-col>
    </b-row>

    <b-row>
      <b-col lg="11">
        <Widget class="bg-transparent">
          <Map/>
        </Widget>
      </b-col>
    </b-row>

    <div/>
    <b-row v-show="country && city" ref="cityContent">
      <b-col lg="6" offset-lg="5">
        <div v-if="cityContent">
          <p>
          <h2>{{ city }} informations</h2>
          <div v-for="(item, key) in cityContent" :key="key">
            <RowProgress :title="key" :value="item"/>
          </div>
          <br>
        </div>
        <div v-else>
          Sorry, no data available for this city
        </div>
      </b-col>
    </b-row>

  </div>
</template>

<script>
import Widget from '@/components/Widget/Widget';
import Map from './components/Map/Map';
import {mapState} from "vuex";
import RowProgress from "@/pages/Visits/RowProgress";

export default {
  name: 'Visits',
  components: {
    Widget, Map, RowProgress
  },
  data() {
    return {};
  },
  computed: {
    ...mapState('tripTrip',
        ['country', 'countryContent', 'cities', 'city', 'cityContent']
    ),
    width() {
      return this.countryContent ? "80%" : "100%"
    }
  },
  watch: {
    cityContent() {
      //console.log("scrollToCityContent")
      setTimeout(() => {
        const element = this.$refs['cityContent'];
        element.scrollIntoView({behavior: 'smooth'});
      }, 100); // gives time for the ref anchor to be shown the first time
    },
    countryContent() {
      const element = this.$refs['countryContent'];
      element.scrollIntoView({behavior: 'smooth'});
    }
  }
};
</script>

<style src="./Visits.scss" lang="scss"/>
