<template>
  <div>
    <div class="map" ref="map" :style="{cursor: cursorSetting}">
    </div>
    <div class="stats">
      <h6 class="mt-1">{{ helperText }}</h6>
    </div>
  </div>
</template>

<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4maps from "@amcharts/amcharts4/maps";
import am4geodata_worldHigh from "@amcharts/amcharts4-geodata/worldHigh";
import {mapActions, mapState} from 'vuex';

export default {
  name: 'Map',
  components: {},
  data() {
    return {
      helperText: "Tip: mouse wheel to zoom, drag to move",
      loading: false,
      cursorSetting: "default",
    }
  },
  methods: {
    ...mapActions(
        'tripTrip', ['getCountryInfo', 'getCityContent'],
    ),
  },
  computed: {
    // cities:
    ...mapState(['cities', 'country', 'city']),
  },
  mounted() {
    let mountedThis = this
    let map = am4core.create(this.$refs.map, am4maps.MapChart);
    map.geodata = am4geodata_worldHigh; // am4geodata_usaHigh;

    map.seriesContainer.resizable = false;
    let polygonSeries = map.series.push(new am4maps.MapPolygonSeries());
    polygonSeries.useGeodata = true;
    map.homeZoomLevel = 1.3;

    map.zoomControl = new am4maps.ZoomControl();
    map.zoomControl.align = 'left';
    map.zoomControl.valign = 'bottom';
    map.zoomControl.dy = -20;

    map.zoomControl.minusButton.background.fill = am4core.color("#C7D0FF");
    map.zoomControl.minusButton.background.fillOpacity = 0.24;
    map.zoomControl.minusButton.background.stroke = null;
    map.zoomControl.plusButton.background.fill = am4core.color("#C7D0FF");
    map.zoomControl.plusButton.background.fillOpacity = 0.24;
    map.zoomControl.plusButton.background.stroke = null;
    map.zoomControl.plusButton.label.fill = am4core.color("#fff");
    map.zoomControl.plusButton.label.fontWeight = 600;
    map.zoomControl.plusButton.label.fontSize = 16;
    map.zoomControl.minusButton.label.fill = am4core.color("#fff");
    map.zoomControl.minusButton.label.fontWeight = 600;
    map.zoomControl.minusButton.label.fontSize = 16;
    let plusButtonHoverState = map.zoomControl.plusButton.background.states.create("hover");
    plusButtonHoverState.properties.fillOpacity = 0.24;
    let minusButtonHoverState = map.zoomControl.minusButton.background.states.create("hover");
    minusButtonHoverState.properties.fillOpacity = 0.24;

    let polygonTemplate = polygonSeries.mapPolygons.template;
    polygonTemplate.tooltipText = "{name}";
    polygonTemplate.fill = am4core.color("#474D84");
    polygonTemplate.fillOpacity = 1;
    let hs = polygonTemplate.states.create("hover");
    hs.properties.fillOpacity = 0.5;

    polygonTemplate.events.on("hit", function (ev) {
      const country = ev.target.dataItem.dataContext.name

      if (mountedThis.loading) {
        mountedThis.helperText += "... breath";
      }
      else {
        mountedThis.helperText = "Loading " + country + "... please wait";
        mountedThis.loading = true
        mountedThis.cursorSetting = "progress";
        ev.target.series.chart.zoomToMapObject(ev.target)  // zoom clicked country

        // console.warn("Country clicked! event", country)
        mountedThis.$store.dispatch('tripTrip/getCountryInfo', country)
            .then(() => {
              // console.log("cities", mountedThis.$store.state.tripTrip.cities)
              let citySeries = map.series.push(new am4maps.MapImageSeries());
              citySeries.data = mountedThis.$store.state.tripTrip.cities;
              citySeries.dataFields.value = "size";

              let city = citySeries.mapImages.template;
              city.nonScaling = true;
              city.propertyFields.latitude = "latitude";
              city.propertyFields.longitude = "longitude";
              let circle = city.createChild(am4core.Circle);
              circle.fill = am4core.color("#C7D0FF");
              circle.stroke = am4core.color("#ffffff");
              circle.strokeWidth = 0;
              let circleHoverState = circle.states.create("hover");
              circleHoverState.properties.strokeWidth = 1;
              circle.tooltipText = '{tooltip}';
              circle.propertyFields.radius = 'size';
              mountedThis.helperText = "You can now click a City";
              mountedThis.loading = false;
              mountedThis.cursorSetting = "default";

              city.events.on("hit", function (ev) {
                const city = ev.target.dataItem.dataContext.tooltip
                // console.log("City clicked", ev.target)
                mountedThis.helperText = "Welcome in " + city;
                mountedThis.$store.dispatch('tripTrip/getCityContent', { city, countr: country} )
              })
            });
      }
    });

    polygonTemplate.stroke = am4core.color("#6979C9");
    polygonTemplate.strokeOpacity = 1;
    this.map = map;
  },
};
</script>

<style src="./Map.scss" lang="scss"/>
